body {
  background-color: #010022;
}

.container {
  width: 80%;
  margin: 1rem auto;
  background-color: white;
  font-size: 0;
  padding: 1rem 1rem 5rem;
  border-radius: 0.7rem;
}

.card {
  box-sizing: border-box;
  width: 25%;
  min-width: 180px;
  display: inline-block;
  border:  1px solid #e1e1e1;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  position: relative;
}

.basket > img {
width: 2rem;
position: absolute;
top: 4%;
right: 4%;
}

.image {
  text-align: center;
}

.image > img {
width: 80%;
min-width: 140px;
}

.card h3 {
  font-weight: 400;
}

.card p {
  font-weight: 700;
}

.filter {
  font-size: 1rem;
  margin-top: 3rem;
  width: 10%;
  position: relative;
}

.filter > div, li {
  border: 1px solid #e1e1e1 ;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.filter ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
}

.filter li {
  list-style-type: none;
  border-top: none;
  background-color: white;
}

.filter:hover ul {
display: block;
}

.filter li:hover {
  background-color: #6f93e7;
  color: white;
}

